$red: #EF4352;
$title: #313E46;
$descr: #8E929B;
$gray: #EDF1F7;
$color_card: #FDFDFD;
$footer_text: #4C4D4E;

$orange-title: #FF9900;
$orange-link: #F8A317;
$popup-red: #FF0000;

$popup-font: 'Alegreya Sans', sans-serif;
$oswald: 'Oswald', sans-serif